@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-auth-style {
    @apply rounded-sm border dark:text-neutral-300 border-neutral-200 px-3 py-2 mt-1 w-full text-lg focus:outline-none focus:ring-2 focus:ring-blue-300 transition-all dark:bg-neutral-600 bg-neutral-100 dark:border-none dark:placeholder:text-neutral-400;
  }

  .input-option-style {
    @apply dark:bg-neutral-800 border dark:border-neutral-700 rounded px-4 py-2 w-full focus:outline-none placeholder:text-neutral-300 focus:ring-1 focus:ring-blue-400 dark:placeholder:text-neutral-600 transition-all;
  }

  .select-input-style {
    @apply dark:bg-neutral-700 bg-blue-500 text-white px-4 py-3 w-40 rounded focus:outline-none focus:ring dark:focus:ring-blue-400 transition-all cursor-pointer;
  }

  .input-file[type="file"]::file-selector-button {
    @apply bg-blue-500 transition-all border-none p-2 text-white mr-2;
  }
  .input-file[type="file"]::file-selector-button:hover {
    @apply bg-blue-600;
  }

  ::-webkit-scrollbar {
    @apply w-[0.5vw];
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-neutral-500 bg-neutral-400 rounded-full;
  }

  ::-webkit-scrollbar-track {
    @apply dark:bg-[#404040] bg-neutral-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-neutral-400 bg-neutral-500;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2563eb 94%, #0000) top/8px 8px no-repeat, conic-gradient(#0000 30%, #2563eb);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
.mini-loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #60a5fa 94%, #0000) top/8px 8px no-repeat, conic-gradient(#0000 30%, #60a5fa);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

a.active {
  background-color: #2563eb;
  border-radius: 3px;
}

a.active > li > div {
  color: #fff;
}

/* a:hover > li > div {
  color: #fff;
} */

.come-from-up-animation {
  animation: come-from-up 1s;
}

.go-down-animation {
  animation: go-down 1s;
}

@keyframes come-from-up {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes go-down {
  from {
    transform: translateY(0);
    opacity: 100%;
  }
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}
